:markdown
  #### General Support
  If you would like to contact the bot's support team, feel free to join our
  [Support Discord Server](https://discord.com/invite/mYsn4K5ht9) and type @Support.

  #### Data Deletion
  If you are a concerned Discord server owner and would like your server's data (server id & hooked channel id and name)
  to be removed from our databases, forward an email to the following address with your Discord server ID and proof of
  ownership: `jose@bgmp.cl`.

  In case we cannot authenticate you as the owner of said Discord server, we will reply with further instructions.
