:markdown
  The only pieces of data the bot collects are:

    * Discord Server IDs
    * Discord Text Channel IDs
    * Discord Text Channel Names

  4discord is proud to collect **NO** user data. Privacy is to be taken seriously, and the current pieces of collected
  data are used to enhance user experience. Server & channel ids are stored in our databases in order to allow
  the bot to hook onto text channels, which would not be achievable otherwise.
