!!! 5

%html{ :lang => "en" }
  %head
    %title BGMBox

    %meta{ :name => "author", :content => "José Benavente" }

    %meta{ :charset => "UTF-8" }
    %meta{ :content => "website", :property => "og:type" }
    %meta{ :content => "BGM", :property => "og:title" }
    %meta{ :content => "BGMBox - BGM's Personal Website", :property => "og:description" }
    %meta{ :content => "https://bgmp.cl/", :property => "og:url" }
    %meta{ :content => "https://avatars.githubusercontent.com/u/47787902?s=200&v=4", :property => "og:image" }
    %meta{ :content => "#8b0000", :name => "theme-color" }
    %meta{ :content => "text/html;charset=utf-8", :"http-equiv" => "Content-Type" }
    %meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport" }

    %link{ :href => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css", :rel => "stylesheet", :media => "screen" }
    %link{ :href => "//fonts.googleapis.com/css?family=Noto+Sans:700,400,300", :rel => "stylesheet", :media => "screen" }
    %link{ :href => "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet", :media => "screen" }

    %link{ :href => "/assets/css/application.css", :rel => "stylesheet" }
    %link{ :href => "/assets/img/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon" }

    %script{ :src => "//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js" }
    %script{ :src => "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" }
    %script{ :src => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js" }

    %script hljs.initHighlightingOnLoad();
    %script $(function () { $("[data-toggle='tooltip']").tooltip(); });
    %script $(document).ready(function() { $('span.highlight > code').each(function(i, block) { hljs.highlightBlock(block); }); });

  %body
    = partial "navbar"

    %div.container{ :style => "margin-top: 20px;" }
      = yield

    %div.container{ :style => "margin-top: 20px" }
      = partial "footer"
