%section
  .page-header
    %h2
      %i.fa.fa-diamond
      Gem Dependency Diagram
  .row.text-center
    .col-md-12
      %a{ :href => "https://github.com/BGMP/bgmp.cl/blob/master/Gemfile.lock", :target => "_blank" }
        %img{ :src => "/assets/img/diagram.png", :style => "display: inline-block; max-width: 100%; height: auto;" }
