%div
  .row
    .col-md-12
      %h5.strong About me
      %pre.about-me
        :markdown
          <p>Hello,</p>
          <br/>
          <p>I'm BGM, a Software Developer from Chile. You've stumbled upon my website, the place where I organise
           my work and projects, along with my Maven repository.</p>
          <br/>
          <em>Enjoy your stay.</em>

          <br/>
          <p>Open Source @ <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/BGMP/bgmp.cl" target="_blank">GitHub</a>!</p>
