%footer
  %div.row
    %div.copyright{ :align => "center" }
      &copy;
      %a{ :href => "https://github.com/BGMP", :target => "_blank" } BGMP
      2021
    %div{ :align => "center" }
      Built with
      %a{ :href => "https://github.com/BGMP/staticmatic3", :target => "_blank" } staticmatic
