%nav.navbar.navbar-default.navbar-static-top
  %div.container
    %div.navbar-header
      %button.navbar-toggle.collapsed{ :id => "top-navbar-collapse-button",
                                       :"data-target" => "#top-navbar-collapse",
                                       :"data-toggle" => "collapse" }
        %span.fa.fa-bars
      %a.navbar-brand{ :href => "/" }
        %img.pull-left{ :height => "34",
                        :src => "/assets/img/bgmbox.png",
                        :alt => "" }
        BGMBox
    %div.navbar-collapse.collapse#top-navbar-collapse
      %ul.nav.navbar-nav{ :style => "margin-right: 0;" }
        %li
          %a{:href => "/projects"}
            %i.fa.fa-briefcase
            Projects
        %li.dropdown
          %a.dropdown-toggle#maven-dropdown{ :href => "#",
                                             :"data-toggle" => "dropdown",
                                             :role => "button",
                                             :"aria-haspopup" => "true",
                                             :"aria-expanded" => "false" }
            %i.fa.fa-folder-open
            Maven
            %b.caret
          %ul.dropdown-menu{ :"aria-labelledby" => "maven-dropdown" }
            %li
              %a{ :href => "/maven" }
                %i.fa.fa-bookmark
                Overview
            %li
              %a{ :href => "https://maven.bgmp.cl/" }
                %i.fa.fa-file-code-o
                Browse
        %li
          %a{:href => "/diagram"}
            %i.fa.fa-diamond
            Diagram
