%section
  .page-header
    %h2
      %i.fa.fa-briefcase
      Projects
  .row.text-center
    .col-md-4.col-sm-6.col-xs-12
      .thumbnail
        %a{ :href => "/projects/4discord" }
          %img{ :src => "/assets/img/4discord.png" }
        .caption
          %h1{ :class => "lead" }
            %a{ :href => "/projects/4discord" }
              4discord
